# .NET MAUI
bin/
obj/
*.userprefs
*.suo
*.user
*.vs/
*.vscode/
*.sln.ide/
*.sln.docstates
*.sln.ide-shutdown
*.sln.ide-wp
*.sln.ide-wp-shutdown
*.sln.ide-vb
*.sln.ide-vb-shutdown
*.sln.ide-vb-wp
*.sln.ide-vb-wp-shutdown
*.sln.ide-vb-wp-vb
*.sln.ide-vb-wp-vb-shutdown
*.sln.ide-vb-wp-vb-vb
*.sln.ide-vb-wp-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-vb-vb-vb-shutdown
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-vb-vb-vb-vb
*.sln.ide-vb-wp-vb-vb-vb-vb-vb-vb-vb-vb-vb-v
*.sln.ide-vb-wp-vb-vb
